.profile {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 396px;
  min-height: 90vh;
  margin: 0 auto;
  padding: 70px 0;
}

.profile__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  color: #000;
}

.profile__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 106px;
  min-width: 410px;
}

.profile__field {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.31px;
  color: #000;
  cursor: pointer;
  border-bottom: 1px solid #e8e8e8;
}

.profile__field_disabled {
  cursor: default;
}

.profile__field:last-of-type {
  border-bottom: none;
}

.profile__input {
  flex-grow: 1;
  padding: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13.31px;
  color: #000;
  text-align: right;
  border: none;
  transition: opacity .3s;
}

.profile__input:disabled {
  background-color: transparent;
}

.profile__input:hover {
  opacity: .6;
}

.profile__input:focus {
  outline: none;
  border-color: #000;
}

.profile__error-message {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  color: #ff4062;
}

.profile__submit-btn {
  margin-top: auto;
  padding: 13px 0 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.profile__submit-btn:disabled {
  display: none;
}

.profile__submit-btn_type_invalid {
  pointer-events: none;
  cursor: default;
  opacity: .6
}

.profile__submit-btn:hover {
  opacity: .6;
}

.profile__info-message {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.1px;
  color: #000;
}

.profile__edit-btn {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.73px;
  color: #000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.profile__edit-btn:hover {
  opacity: .6;
}

.profile__edit-btn:disabled {
  display: none;
}

.profile__signout-btn {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.73px;
  color: #ff4062;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.profile__signout-btn:hover {
  opacity: .6;
}

@media (max-width: 767.9px) {
  .profile {
    padding: 70px 30px 40px;
  }

  .profile__form {
    padding-top: 80px;
    min-width: 320px;
  }
}

@media (max-width: 424.9px) {
  .profile__form {
    min-width: 260px;
  }
}
