.burger-button {
	position: relative;
	display: none;
	width: 44px;
	height: 44px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  transition: .5s;
}

.burger-button:focus {
  outline: none;
}

.burger-button:hover {
  opacity: .6;
}

.burger-button__line,
.burger-button__line::before,
.burger-button__line::after {
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: #000;
  transition: .5s;
}

.burger-button__line {
  left: 8px
}

.burger-button__line::before,
.burger-button__line::after {
  content: '';
}

.burger-button__line::before {
  top: -10px;
  left: 0;
}

.burger-button__line::after {
  top: 10px;
  left: 0;
}

.burger-button_active {
  position: absolute;
  top: 23px;
  right: 23px;
}

.burger-button_active .burger-button__line {
  transition-duration: 0.5s;
  background: transparent;
}

.burger-button_active .burger-button__line::before {
  transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}
.burger-button_active .burger-button__line::after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}

@media (max-width: 1129.9px) {
  .burger-button {
    display: block;
  }
}
