.login {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 396px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 70px 0;
}

.login__title {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  color: #000;
}

.login__form {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.login__field {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  color: #a0a0a0;
  cursor: pointer;
}

.login__input {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: #000;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  transition: border-color .3s;
}

.login__input:hover {
  border-color: #000;
}

.login__input:focus {
  outline: none;
  border-color: #000;
}

.login__input_type_errore {
  color: #ff4062;
}

.login__error-message {
  height: 12.1px;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  color: #ff4062;
}

.login__error-message:last-of-type {
  padding-bottom: 6px;
}

.login__submit-btn {
  margin-top: auto;
  padding: 13px 0 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.login__submit-btn:hover {
  opacity: .6;
}

.login__info-message {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.1px;
  color: #000;
}

.login__signin {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.login__signin-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: #a0a0a0;
}

.login__signin-link {
  margin: 0;
  padding: 0;
  padding-left: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: #000;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.login__submit-btn_type_invalid {
  cursor: default;
  opacity: .6
}

.login__signin-link:hover {
  opacity: .6;
}

@media (max-width: 1129.9px) {
  .login {
    padding: 232px 0;
  }
}

@media (max-width: 424.9px) {
  .login {
    align-items: center;
    max-width: auto;
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 56px 30px 30px;
  }
  
  .login__title {
    padding-top: 50px;
  }
  
  .login__form {
    padding-top: 80px;
  }

  .login__submit-btn {
    padding: 15px 0;
    font-size: 12px;
    line-height: 14.52px;
  }
 
  .login__signin {
    padding-top: 14px;
  }
  
  .login__signin-text {
    font-size: 12px;
    line-height: 14.52px;
  }
  
  .login__signin-link {
    font-size: 12px;
    line-height: 14.52px;
  }
}
